/*--------------Webpage background color and font----------------*/

@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Julius+Sans+One');

/*--------------General Styles----------------*/

body {
    background-color: #ffffff;
    font-family: 'Advent Pro', sans-serif;
}

/*--------banner photo size------------*/

body,
html {
    margin: 0;
    height: 100%;
}

/*header font and letter spacing throughout the website -------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 5px;
}

/*----header 2 in box control -----*/

h2 {
    text-align: center;
}

img {
    max-width: 100%;
}

nav,
#gallery-cards,
#social-link,
.credits {
    display: flex;
    flex-flow: row wrap;
}

/*----------Top Bar Area----------------*/

/*-------Nav Bar ----------*/

nav {
    background-color: white;
    padding: 10px;
}

.navbar {
    list-style-type: none;
    padding: 10px;
    font-size: 1.2em
}

.nav_title {
    margin-right: auto;
}

.nav_link {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 1em;
    transition: text-decoration 1s;
}

.nav_link:focus,
.nav_link:hover {
    color: #000000;
    text-decoration: underline #000000;
}

/*-----Position of Banner Photo---------*/

.banner_image {
    background-image: url("https://images.unsplash.com/photo-1562020475-e8168adfcfb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    height: 30%;
    background-position: center;
    background-size: cover;
    position: relative;
}

/*-------------------Main---------------------*/

main {
    display: flex;
    align-items: center;
}

/*----------------About-------------*/

#about {
    display: inherit;
    justify-content: center;
    margin-top: 0px;
    border-bottom: 1px dashed white;
    padding: 100px;
    margin-bottom: 0px;
}

/* My Explanation of myself section ---*/

/*------colored box portion -------*/
#about_content {
    margin: -50px;
    display: flex;
    flex-flow: column;
    font-size: 1.5em;
    align-content: left;
    justify-content: center;
    background-color: lightgray;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

/*-------text portion --------*/

#about_text {
    margin: -10px;
    line-height: 1.5em;
    margin-right: 100px;
    max-width: 60%
}

/*---------Gallery----------------------*/

.gallery {
    padding-top: 0px;
    padding-bottom: 0px;
}

.gallery_heading,
.gallery_subheading {
    text-align: center;
    flex: 100%;
}

.gallery_subheading {
    font-size: 1.3em;
    padding-bottom: 0px;
}

#gallery-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
}

.gallery-card {
    margin: 10px;
    position: relative;
    text-align: center;
    transition: all 0.4s ease-in;
}

.gallery-card_image {
    border-radius: 5px;
    max-width: 400px;
}

.overlay {
    font-size: 1.3em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #C0C0C0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: all .5s ease;
}

.overlay p {
    padding: 10px;
    text-align: center;
}

.overlay-title {
    text-transform: uppercase;
    display: block;
    margin: 10px;
    font-weight: bold;
    color: #fff;
}

/*---button on the photos in gallery --*/ 

.gallery-cards_overlaybtn {
    margin: 10px;
    font-family: Courier New, serif;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.gallery-cards_overlaybtn:focus,
.gallery-cards_overlaybtn:hover {
    background-color: #fff;
    font-family: Courier New, serif;
    color: #fff;
}

.gallery-card:hover .overlay {
    width: 50%;
}

/*---------------Footer--------------*/

footer {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
}

/*--------------------Social--------------------*/

#social-link {
    justify-content: center;
    background-color: #d3d3d3;
    padding: 20px;
    padding-top: 20px;
}

.social-link_icon {
    transition: all 0.4s ease-in;
    min-width: 30px;
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    color: #000000;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
}

.social-link_icon:focus,
.social-link_icon:hover {
    background-color: #fff;
}

/*----------------------Credits-----------------*/

.credits {
    justify-content: center;
    background-color: #fff;
    text-transform: normal;
}

.credits p {
    margin-right: 20px;
}

/*-------------------Media Queries---------------*/

@media (max-width: 1600px) {
    #gallery-cards {
        justify-content: center;
    }
    .vintage-team_card {
        margin-bottom: 100px;
    }
    .gallery {
        flex-flow: column wrap;
        align-items: center;
    }
    @media only screen and (max-width:740px) and (orientation: landscape) {
        .banner_subheading {
            display: none;
        }
        .banner_heading {
            font-size: 1.7em;
        }
    }
    @media (max-width: 620px) {
        #about {
            flex-flow: column wrap;
            justify-items: center;
            margin: 10px;
        }
        #about_content {
            padding: 15px;
            padding-top: 30px;
            justify-items: center;
            width: auto;
        }
        #man-snow_box {
            margin: auto;
            margin-bottom: -120px;
            order: -1;
            z-index: 1;
        }
        .banner_image {
            background-image: url("https://s19.postimg.cc/d7f9pixrl/heroflower620_2x.jpg");
        }
        #social-link {
            flex-flow: column wrap;
            align-content: center;
            align-items: center;
        }
        #social-link h3 {
            margin: auto;
            margin-bottom: 10px;
        }
        #contact-us {
            width: 80%;
        }
    }
    @media (max-width: 550px) {
        .banner_subheading {
            display: none;
        }
        .banner_heading {
            font-size: 1.7em;
        }
    }
    @media (max-width: 434px) {
        .gallery-card_image {
            width: 300px;
            height: auto;
        }
        #man-snow_img {
            max-width: 200px;
        }
        .gallery p {
            padding: 10px;
            font-size: 1.2em;
        }
        .social-link_icons {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        #vintage-team_heading {
            margin: 5px;
        }
        #vintage-team {
            max-width: 80%;
        }
        .overlay {
            font-size: 1em;
        }
    }
        .gallery-card_image {
            max-width: 300px;
        }
        .gallery-card:focus .overlay,
        .gallery-card:hover .overlay {
            width: 100%;
        }
        #about {
            margin: auto;
            padding: 5%;
            padding-top: 10%;
        }
       
    }