body {
  font-family: 'Merriweather', 'Sacramento', 'serif';
  background-color: #FAF4FF;
  text-decoration: none;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #c9b6e4;
}

h2 {
  font-family: 'Sacramento', sans-serif;
  font-weight: 100;
  font-size: 100px;
  color: #BE9FE1;
  padding-top: -10px;
  padding-bottom: 0px;
  padding-left: 60px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  padding-left: 60px;
  color: #c9b6e4;
}

h4 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 100;
  font-size: 15px;
  padding-left: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FAF4FF;
}

li {
  float: left;
}

li a {
  display: block;
  color: #C9B6E4;
  font-size: 25px;
  font-family: "Sacramento", "Times", "serif";
  padding: 20px 0;
}

a {
  font-family: 'Sacramento', 'sans-serif';
  font-size: 30px;
  color: #000;
  margin: 10px 30px;
  text-decoration: none;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.icons {
  background-color: #C9B6E4;
  padding: 20px;
  text-align: center;
}
