body {
	box-sizing: border-box;
}

p {
    color: #000;
    font-size: 10px;
    margin-top: 10px;
}

/*--------Navbar------------*/
​ .navbar-custom {
    background-color: #fff;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
    padding-left: 130px;
    font-size: 20px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
    font-size: 15px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #228B22;
}

.heading {
    font-family: 'Courgette', cursive;
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 100px;
    width: 60%;
}

.heading h2 {
    font-size: 2em;
}

.Finished-Project {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.second-heading {
    padding-top: 100px;
    padding-bottom: 30px;
    display: block;
    text-align: center;
    margin: auto;
    width: 80%;
}

.objectives {
    margin-left: 250px;
    margin-right: 200px;
    padding-bottom: 50px;
}

.column {
    float: left;
    width: 50%;
    padding-right: 50px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.before-after {
    text-align: center
}

.competitive-analysis {
    display: block;
    margin-left: 200px;
    margin-right: 100px
}

.competitive-analysis h1 {
	padding-bottom: 50px;
}

.competitive-analysis h2 {
	padding-bottom: 50px;
}

.UserPersonaSection {
	text-align: center;
}

.bottom-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10px;
}

.footer-icons {
    font-size: 25px;
    color: #212529;
    margin: 10px 5px 10px 5px;
}
/*----Media Queries------*/
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}