body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 15px;
    line-height: 40px;
}

h3 {
    font-size: 20px;
    color: #212529;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    color: #212529;
}

p {
    color: #00000;
    font-size: 10px;
    margin-top: 10px;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 9px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.navbar-toggler {
    margin-left: 25px;
}

/*---------Content--------*/
.top-container {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
    color: #212529;
}

.top-container h1 {
    font-family: 'Montserrat', serif;
    letter-spacing: 3px;
    font-size: 5em;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: inherit;
    border: none;
    border-radius: 7px;
    display: block;
    width: 70%;
    padding: 0;
    margin-left: 200px;
    margin-right: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
    font-size: 15px;
    margin-bottom: 8px;
    padding-top: 3.2px;
    display: flex;
    align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    padding: .75em 1rem;
    margin-bottom: 24px;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
    width: 50%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #212529;
    color: #fff;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
    outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    margin-bottom: 0;
    margin-left: 400px;
}

#fs-frm select {
    text-transform: none;
}

#fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 8px 0 0 !important;
}

#fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
}

form {
    margin-bottom: 50px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.footer-icons {
    font-size: 20px;
    color: #212529;
    margin: 10px 5px 10px 5px;
}