body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 15px;
    line-height: 40px;
}

h3 {
    font-size: 20px;
    color: #212529;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 4em;
    color: #212529;
}

p {
    color: #00000;
    font-size: 10px;
    margin-top: 10px;
}

hr {
    width: 5%;
    border-top: 5px dotted gray;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

/*--------Navbar------------*/
​ .navbar-custom {
    background-color: #fff;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
    padding-left: 130px;
    font-size: 20px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
    font-size: 15px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #228B22;
}

/*---------Content--------*/
.top-container {
    margin-left: 175px;
    margin-right: 100px;
    margin-top: 80px;
    color: #212529;
}

.description-words {
    margin-left: 175px;
    width: 70%;
    margin-bottom: 40px;
    margin-top: 40px;
    color: #212529;

}

.palm {
    float: right;
    margin-top: -50px;
}

.plant2 {
    float: left;
    clear: left;
    transform: rotate(180deg);
    margin-top: -500px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.top {
    margin-left: 100px;
    margin-top: 30px;
}

.trial-word {
    position: fixed;
    transform-origin: top left;
    transform: rotate(-90deg);
    padding-top: 10px;
    margin-top: 200px;
    font-size: 20px;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: inherit;
  border: none;
  border-radius: 7px;
  display: block;
  width: 40%;
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
}


#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 50%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: #212529;
  color: #fff;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
  margin-left: 200px;
}

#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

.bottom-container {
    text-align: center;
    padding-top: 3px;
    position: absolute;
    height: 20px;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}

.footer-icons {
    font-size: 25px;
    color: #212529;
}