body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}


h3 {
    font-size: 20px;
    color: #212529;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 4em;
    color: #212529;
}

p {
    color: #000;
    font-size: 10px;
    margin-top: 10px;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 9px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.navbar-toggler {
    margin-left: 25px;
}

/*---------Content--------*/
.rectangle {
    height: 655px;
    width: 700px;
    background-color: #000;
    transform: rotate(90deg);
    position: relative;
    left: -500px;
    top: -50px;
    z-index: -1;
}

.sideName h3 {
    font-size: 40px;
    font-family: 'Homemade Apple', cursive;
    position: absolute;
    left: -180px;
    top: 375px;
    transform: rotate(270deg);
    z-index: 1;
    color: #fff;
    letter-spacing: 5px;
}

.circle2 {
    height: 250px;
    width: 250px;
    border-style: dashed;
    border-color: #000;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 525px;
    top: -150px;
    z-index: -2;
}

.title {
    position: absolute;
    left: 275px;
    top: 150px;
    z-index: -1;
    letter-spacing: 3px;
}

.title h2 {
    font-size: 5em;
}

.description-words {
    margin-top: 25px;
    padding-bottom: 25px;
    padding-right: 40px;
    position: absolute;
    left: 275px;
    top: 225px;
    color: #212529;
}

.description-words h2 {
    font-size: 3em;
    line-height: 1.2em;
    width: 85%;
    font-family: 'Bitter', serif;
}

.btn {
    margin-top: 25px;
    margin-right: 5px;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    .rectangle {
        margin-top: 100px;
    }

    .description-words h2 {
    margin-top: 75px;
    }

/*----Lowers side wording to show the nav bar----*/
@media screen and (max-width: 1000px) {
    .sideName h3 {
        margin-top: 100px;
    }
}