body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', sans-serif;
}

/* Headings */
.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 8rem;
    line-height: 1.5;
    color: #212529;
}

.section-heading {
    font-size: 6rem;
    line-height: 1.5;
}

.top-paragraph p {
    color: #212529;
    font-size: 75px;
    padding-bottom: 30px;
    font-family: 'Bitter', sans-serif;
}

/* Containers */
.container-fluid {
    padding: 7% 15%;
    font-family: 'Montserrat', sans-serif;
}

/* Sections */
.colored-section {
    background-color: #212529;
    color: #fff;
}

/*description font*/
.top-section p {
    background-color: #fff;
    font-size: 50px;
}

.white-section p {
    font-size: 10px;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Bitter', sans-serif;
    font-size: 4rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

/* Buttons */
.btn {
    margin: 0% 1% 5% 0;
    padding: 20px 20px;
}

/* Title Section */
#title {
    background-color: #fff;
    color: #212529;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
    margin-top: 100px;
}

/* Footer Section */
.social-icon {
    margin: 20px 10px;
    font-size: 10px;
    color: black;
}


@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
    }
}