body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
}

p {
    color: #8f8f8f;
    font-size: 40px;
}

/* Headings */
.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 8rem;
    line-height: 1.5;
    color: #212529;
}

.section-heading {
    font-size: 6rem;
    line-height: 1.5;
}

.top-paragraph h3 {
    font-family:  'Bitter', serif;
    color: #000;
    padding-bottom: 30px;
    font-size: 50px;
}

/* Containers */
.container-fluid {
    padding: 7% 15%;
}

/* Sections */
.colored-section {
    background-color: #212529;
    color: #fff;
}

.colored-section h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 6rem;
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Bitter', serif;
    font-size: 4rem;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

/* Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Section */
#title {
    background-color: #fff;
    color: #212529;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    }

/* Features Section */
#features {
    position: relative;
}

.feature-title {
    font-size: 4rem;
    color: #fff;
}

.container-fluid h1 {
    font-family: 'Bitter', serif;
}

.container-fluid h4 {
    font-family: 'Homemade Apple', cursive;
    font-size: 50px;
}

.feature-box {
    padding: 4.5%;
    font-family: 'Bitter', serif;
}

.icon {
    color: #59886b;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #8db596;
}

.section-fun {
    padding-top: 25px;
    margin-left: 200px;
}

.section-fun-text h1 {
    font-family: 'Bitter', serif;
    font-style: bold;
    text-align: center;
    padding-top:100px;
    padding-bottom:50px;
    font-size: 75px;
}

/*-------Bulletin Board---------*/

div#frame {
    width: 600px;
    height: 500px;
}

#previewform {
    display: none;
}

.strong {
    padding: 0.1em;
}

.note {
    width: 130px;
    height: 130px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    float: left;
    margin: 8px;
    border-radius: 25px;
}

.sticky1 {
    background-image: url("imgs/C&CLogo.jpg");
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.sticky2 {
    background-image: url("imgs/ideo-logo.png");
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.sticky3 {
    background-image: url("imgs/DBLogo.jpg");
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.sticky4 {
    background-image: url("imgs/TEGLogo.jpg");
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.sticky5 {
    background-image: url("imgs/TTLogo.png");
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.sticky6 {
    background-image: url("imgs/PodcastLogo.webp");
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.sticky7 {
    background-image: url("imgs/WSJLogo.png");
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.sticky8 {
    background-image: url("imgs/AdobeLogo.jpg");
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.sticky9 {
    background-image: url("imgs/Pinterest-Logo.png");
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.sticky10 {
    background-image: url("imgs/FFLogo.webp");
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.sticky11 {
    background-image: url("imgs/MediumLogo.png");
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.sticky12 {
    background-image: url("imgs/linkedin-icon.webp");
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

div#frame a:hover.note {
    border: 1px solid rgba(0, 0, 0, 0);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

/* Footer Section */
footer {
    text-align: center;
}

footer p {
    color: black;
    font-size: 15px;
}

.footer-icons {
    font-size: 20px;
    color: #212529;
    margin: 10px 5px 10px 5px;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
    }
}