body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

p {
    color: #00000;
    font-size: 10px;
    margin-top: 10px;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 9px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.navbar-toggler {
    margin-left: 25px;
}

/*---------Content--------*/
.top-container {
    text-align: center;
    margin-top: 15px;
    color: #212529;
}

.description-words {
    text-align: center;
    margin-left: 125px;
    margin-right: 125px;  
    margin-bottom: 40px;
    margin-top: 40px;
    color: #212529;
}

.description-words h2 {
    font-size: 15px;
    line-height: 40px;
}

.top-container h1 {
    font-size: 4em;
    font-family: 'Bitter', sans-serif;
}

* {
    box-sizing: border-box;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

.PortfolioProject {
    border-radius: 5px;
    height: auto;
}

.content h3 {
    font-size: 20px;
    color: #212529;
    font-family: 'Bitter', sans-serif;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

.content h3 {
    padding-top: 20px;
}

.content p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

.wide-content {
    text-align: center;
    margin-bottom: 30px;
}

.wide-content p {
    font-size: 15px;
}

.wide-content h3 {
    font-size: 20px;
    color: #212529;
    font-family: 'Bitter', sans-serif;
}

.wide-PortfolioProject {
    margin-bottom: 25px;
}

#bottom-container {
    text-align: center;
}

footer {
    text-align: center;
}

.footer-icons {
    font-size: 20px;
    color: #212529;
    margin: 10px 5px 10px 5px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .title-page {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}