body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

h1 {
    font-size: 4em;
    color: #212529;
}

h2 {
    font-size: 15px;
    line-height: 40px;
}


h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 4em;
    color: #212529;
}

h4 {
    font-size: 20px;
    color: #212529;
}

h5 {
    font-size: 4em;
    margin-right: 400px;
    color: #212529;
}

h6 {
    font-size: 15px;

}

p {
    color: #00000;
    font-size: 10px;
    margin-top: 10px;
}

li {
    font-family: 'Quicksand', sans-serif;
}

/*--------Navbar------------*/
​ .navbar-custom {
    background-color: #fff;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
    padding-left: 130px;
    font-size: 20px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
    font-size: 15px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #228B22;
}

.IvyBorder {
    position: absolute;
    left: -200px;
    top: -200px;
    z-index: -1;
}

/*---------Content--------*/

.top-container {
    margin-left: 175px;
    margin-top: 80px;
}

.plant2 {
    float: left;
    clear: left;
    transform: rotate(180deg);
    margin-top: -500px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.top-wording {
    margin-left: 175px;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 50%;
    color: #212529;
}

.btn {
    margin-top: 30px;
}

.middle-container {
    font-family: 'Quicksand', sans-serif;
}

.job {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
    width: 100%;
    font-size: 15px;
    line-height: 30px;
}

/*-------Bulletin Board---------*/

div#frame {
    width: 500px;
    height: 500px;
}

.text {
    margin: 40px;
    font-size: 20px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

#previewform {
    display: none;
    text-align: center;
}

.strong {
    color: #333;
    background-color: #FAFFA6;
    padding: 0.1em;
}

.note {
    width: 150px;
    height: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    float: left;
    margin: 8px;
    border-radius: 10px;
}

.sticky1 {
    transform: rotate(3.5deg);
    -webkit-transform: rotate(3.5deg);
    -moz-transform: rotate(-3.5deg);
    background-image: url("imgs/hexagon.jpg");
    background-size: 100%;
}

.sticky2 {
    transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    background-image: url("imgs/marble.jpg");
    background-size: 100%;
}

.sticky3 {
    transform: rotate(3.5deg);
    -webkit-transform: rotate(3.5deg);
    -moz-transform: rotate(3.5deg);
    background-image: url("imgs/wood.jpg");
    background-size: 100%;
}

div#frame a:hover.note {
    border: 1px solid rgba(0, 0, 0, 0);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

/*--------Education Timeline-----------*/

.main-container {
    padding-top: 50px;
}

.main-container h3 {
    font-size: 4rem;
    font-family: 'Quicksand', sans-serif;
    color: #000;
}

section.timeline-outer {
    width: 100%;
    margin: 0 auto;
}

/* Timeline */

.timeline {
    /*Line Color*/
    border-left: 8px solid #59886b;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    color: #000;
    margin: 15px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.5em;
    padding: 20px;
    list-style: none;
    text-align: left;
}

/*Timeline Section Headings*/
.timeline h1,
.timeline h2,
.timeline h3 {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    color: #000;
}

.timeline h1,
.timeline h2,
.timeline h3:hover {
    color: #8db596;
}

/*Description font sizes*/
.timeline p {
    font-size: 15px;
}

.timeline .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

/*Dates in Front*/
.timeline .event:before {
    left: -177.5px;
    color: #fff;
    content: attr(data-date);
    text-align: right;
    font-size: 16px;
    min-width: 120px;
}

.timeline .event:after {
    /*Circle Color*/
    box-shadow: 0 0 0 8px #59886b;
    left: -30px;
    background: #212121;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

/*-------Footer---------*/

#bottom-container h3 {
    font-size: 20px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.footer-icons {
    font-size: 20px;
    color: #212529;
    margin: 10px 5px 10px 5px;
}