body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

h1 {
    font-size: 4em;
    color: #212529;
}

h2 {
  font-size: 15px;
  line-height: 40px;
}


h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 4em;
    color: #212529;
}

h4 {
    font-size: 20px;
    color: #212529;
}

h5 {
    font-size: 4em;
    margin-right: 400px;
    color: #212529;
}

h6 {
    font-size: 15px;

}

p {
    color: #00000;
    font-size: 10px;
    margin-top: 10px;
}

li {
    font-family: 'Quicksand', sans-serif;
}

/*--------Navbar------------*/
​ .navbar-custom {
    background-color: #fff;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
    padding-left: 130px;
    font-size: 20px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
    font-size: 15px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #228B22;
}

.IvyBorder {
    position: absolute;
    left: -200px;
    top: -200px;
    z-index: -1;
}

/*---------Content--------*/

.top-container {
    margin-left: 175px;
    margin-top: 80px;
}

.plant2 {
     float: left;
    clear: left;
    transform: rotate(180deg);
    margin-top: -500px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.top-wording {
    margin-left: 175px;
    margin-bottom: 200px;
    margin-top: 40px;
    width: 50%;
    color: #212529;
}

.btn {
   margin-top: 30px;
}

.middle-container {
    margin: 0 auto;
    width: 600px;
    font-family: 'Quicksand', sans-serif;
}

.job {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
    width: 100%;
    font-size: 15px;
    line-height: 30px;
}

/*-------Bulletin Board---------*/

div#frame {
    width: 500px;
    height: 500px;
}

.text {
    margin: 40px;
    font-size: 22px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

#previewform {
    display: none;
    text-align: center;
}

.strong {
    color: #333;
    background-color: #FAFFA6;
    padding: 0.1em;
}

.note {
    width: 150px;
    height: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    float: left;
    margin: 8px;
    border-radius: 10px;
}

.sticky1 {
    transform: rotate(3.5deg);
    -webkit-transform: rotate(3.5deg);
    -moz-transform: rotate(-3.5deg);
    background-image: url("imgs/hexagon.jpg");
    background-size: 100%;
}

.sticky2 {
    transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    background-image: url("imgs/marble.jpg");
    background-size: 100%;
}

.sticky3 {
    transform: rotate(3.5deg);
    -webkit-transform: rotate(3.5deg);
    -moz-transform: rotate(3.5deg);
    background-image: url("imgs/wood.jpg");
    background-size: 100%;
}

div#frame a:hover.note {
    border: 1px solid rgba(0, 0, 0, 0);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

/*-------Education---------*/

.box {
    position: relative;
    display: inline-block;
    /* Make the width of box same as image */
    padding-top: 30px;
}

.box .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 60;
    right: 0;
    text-align: left;
    top: 25%;
    /* Adjust this value to move the positioned div up and down */

    font-family: Helvetica, sans-serif;
    color: #fff;
    width: 70%;
    /* Set the width of the positioned div */
}

/*-------Footer---------*/

#footer {
    text-align: center;
    width: 100%;
}

.footer-icons {
    color: #212529;
    font-size: 25px;
    margin: 5px 2px 10px 10px;
}

